<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="loginscrip.js" defer></script>
</head>
<body>
   <h1>Login Page</h1>
   <form id= "login" @submit.prevent="record">
       <label for="username" class="label">username</label>
       <input id= "username" type="text" name="username" class="input" v-model="username">
       <label for="password" class="label">password</label>
       <input id= "password" type="password" name="password" class="input" v-model="password">
       <button type="submit" class="submit">login</button>
   </form>
   <button id="registration" @click="register">Registration</button>
   <button id="guest" @click="guest">Login as Guest</button>
</body>
</html>
